/* ==================================================================================================================
    Main colors
   ================================================================================================================== */

/* ==================================================================================================================
    Global Colors
   ================================================================================================================== */

$light-dark: #545454;

/* ==================================================================================================================
    Navbar Colors
   ================================================================================================================== */

$red-light: #e57f85;

/* ==================================================================================================================
    Section Colors
   ================================================================================================================== */

$blue-green: #63c2e7;
$white-grey: #f4f4f4;
$white: #ffffff;
$green-line: #13c1ac;
$green-line-dark: #13c1ac;

$green-button: #14af8f;

$blue-light: #b2ddee;


$light-grey: #7e7e7e;

/* ==================================================================================================================
    Button Colors
   ================================================================================================================== */

$red_lighten: #ea4c89;