/* ==================================================================================================================
    Style Information
   ================================================================================================================== */

@media (min-device-width: 1024px) and (max-device-width: 2560px) {
  .information {
    max-height: 417px;
    height: 417px;
    width: auto;
    background-color: $information_background;

    article {
      padding-left: 490px;

      h2 {

      }
      p {

      }
    }
  }
}

@media (min-device-width: 768px) and (max-device-width: 1024px) {
  .information {
    padding: 180px;
    max-height: 417px;
    height: 417px;
    width: auto;
    background-color: $information_background;

    article {
      padding-left: 350px;

      h2 {

      }
      p {

      }
    }
  }
}

@media (min-device-width: 320px) and (max-device-width: 425px) {
  .information {
    padding-left: 90px;
    max-height: 417px;
    height: 417px;
    width: auto;
    background-color: $information_background;

    article {
      padding-left: 65px;

      h2 {

      }
      p {

      }
    }
  }
}