/* ==================================================================================================================
    Style Blog
   ================================================================================================================== */

.articles_button-more {
  border-radius: 25px;
  border-color: $articles_button;
  background-color: $body-color;
  .article_button_link {
    color: $articles_button;
    font-size: 14px;
  }
}