<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Guillaume Loulier - Web Developper{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/vendor/material-design-lite/material.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
        </header>
            {% block body %}{% endblock %}
        <footer>

        </footer>
        {% block javascripts %}
            <script src="{{ asset('assets/vendor/material-design-lite/material.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
