{% extends 'base.html.twig' %}

{% block body %}
    <section class="introduction">

    </section>
    <section class="presentation">

    </section>
    <section class="informations">

    </section>
    <section class="more">

    </section>
    <section class="socials_links">

    </section>
{% endblock %}

