{% extends 'base.html.twig' %}

{% block body %}
    <section class="introduction">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <p class="text_introduction">Hello World !</p>
                    <p class="text_accroche">Parce que créer le monde demain <em>requiert</em> du savoir-faire.</p>
                    <div class="row">
                        <div class="col-xs-12 col-lg-offset-9">
                            <button class="button_square_introduction">
                                <a href="#">En savoir plus</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="presentation">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <p>Hello World !</p>
                </div>
            </div>
        </div>
    </section>
    <section class="informations">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <p>Hello World !</p>
                </div>
            </div>
        </div>
    </section>
    <section class="more">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <p class="text-center text-more">Hello World !</p>
                    <div class="row">
                        <div class="col-xs-12 col-lg-offset-6">
                            <button class="button_square_introduction">
                                <a href="#">En savoir plus</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="socials_links">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <p>Hello World !</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

