{% extends 'base.html.twig' %}

{% block body %}
    <section class="introduction">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4 col-lg-6">
                    <!-- Logo -->
                    <img src="{{ asset('icons/svg/idea.svg') }}" alt="logo" class="logo_introduction">
                </div>
                <div class="col-xs-8 col-lg-6">
                    <!-- Texte d'introduction -->
                    <p class="text_introduction pull-right">Que puis-je pour vous ?</p>
                    <p class="text_accroche pull-right">Parce que créer le monde de demain requiert <em>la</em> bonne idée.</p>
                    <button class="button_square_introduction pull-right">
                        <a href="#">En savoir plus</a>
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="presentation">
        <div class="container-fluid">
            <div class="row">
                <div class="row">
                    <div class="col-xs-8">
                        <h1>Créer et partager sa vision</h1>
                        <p>
                            Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page
                            avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les
                            années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser
                            un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est
                        </p>
                        <button class="button_square_presentation">
                            <a href="#">En savoir plus</a>
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="informations">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <p>Hello World !</p>
                </div>
            </div>
        </div>
    </section>
    <section class="more">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <p class="text-center text-more">Partager ses connaissances</p>
                    <button type="button" class="button_square_introduction center-block">
                        <a href="#">Lire le blog</a>
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="socials_links">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                </div>
            </div>
        </div>
    </section>
{% endblock %}

