{% extends 'base.html.twig' %}

{% block body %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col-desktop">
            <img class="logo_accueil" src="{{ asset('icons/124091-color-design-tools/svg/3d.svg') }}" alt="logo" />
        </div>
    </div>
{% endblock %}

