{% extends 'base.html.twig' %}

{% block body %}
    <section class="introduction" id="introduction"></section>
    <section class="presentation">
        <div class="container-fluid">
            <div class="row">
                <div class="row">
                    <div class="col-xs-12 col-lg-9">
                        <h1>Créer et partager sa vision</h1>
                        <p>
                            Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page
                            avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les
                            années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser
                            un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est
                        </p>
                        <button class="button_square_presentation">
                            <a href="#">Lire le blog</a>
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="hidden-xs col-lg-3">
                        <p>Hello World !</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="informations">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-lg-7">
                    <!-- Logo -->
                    <img src="{{ asset('icons/svg/magic-wand.svg') }}" alt="logo_portfolio" class="logo-informations" />
                </div>
                <div class="col-xs-12 col-lg-5 pull-right">
                    <h1 class="pull-right">Montrer ses capacités</h1>
                    <p class="pull-right">
                        <em>
                            <strong>
                            "Créer reste le travail de tout développeur, montrer son travail est la preuve que l'on a
                                réussi le but fixé, que l'on a su capter les demandes du client ..."
                            </strong>
                        </em>
                    </p>
                    <p class="pull-right">
                        Je n'aime pas partager lorsque le travail n'est pas terminé, pour faire simple et parce que je
                        n'aime pas m'étaler, j'ai donc décidé de vous ouvrir les portes de mon monde,
                        mes créations et mes recherches.
                    </p>
                    <button class="button_square_informations pull-right">
                        <a href="#">Voir le portfolio</a>
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="more">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <p class="text-center text-more">Partager ses connaissances</p>
                    <button type="button" class="button_square_introduction center-block">
                        <a href="{{ path('home_blog') }}">Lire le blog</a>
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="socials_links text-center">
        <div class="container-fluid">
            <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <i class="fa fa-twitter"></i>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <i class="fa fa-facebook"></i>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <i class="fa fa-tumblr"></i>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <i class="fa fa-linkedin"></i>
                    </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('prod/Typescript/app/index.js') }}"></script>
{% endblock %}

