{% extends 'base.html.twig' %}

{% block body %}
    <section class="row introduction" id="introduction">
        <div class="col-xs-10">
            <core-introduction></core-introduction>
        </div>
    </section>
    <section class="row articles" id="articles">
        <div class="col-xs-10">
            <core-articles></core-articles>
        </div>
    </section>
    <section class="row information" id="information">
        <div class="col-xs-10">
            <core-information></core-information>
        </div>
    </section>
    <section class="row slider" id="slider">
        <div class="col-xs-10">
            <core-slider></core-slider>
        </div>
    </section>
    <section class="row formations" id="formations">
        <div class="col-xs-10">
            <core-formation></core-formation>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

