/* ==================================================================================================================
    Style home.html.twig
   ================================================================================================================== */

body
{
  overflow-x: hidden;
}

/* ==================================================================================================================
    Introduction
   ================================================================================================================== */

.introduction
{
  background-color: $blue-green;
  height: 650px;
  max-height: 650px;
}

.introduction .text_introduction
{
  padding-top: 160px;
  color: $white;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Dancing Script', 'Cursive';
}

.introduction .text_accroche
{

  color: $white;
  font-size: 25px;
  font-family: 'Anonymous Pro', 'monospace';
}

.introduction .logo_introduction
{
  height: 900px;
  width: 700px;
  padding-top: 25px;
  padding-left: 250px;
}

@media (min-width: 762px) and (max-width: 992px) {
  .introduction .logo_introduction
  {
    height: 670px;
    width: 400px;
    padding-top: 382px;
    padding-left: 80px;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .introduction .logo_introduction
  {
    height: 670px;
    width: 400px;
    padding-top: 382px;
    padding-left: 10px;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .introduction .logo_introduction
  {
    height: 675px;
    width: 480px;
    padding-top: 300px;
    padding-left: 35px;
  }
}

/* ==================================================================================================================
    Presentation
   ================================================================================================================== */

.presentation
{
  background-color: $white-grey;
  height: 650px;
  max-height: 650px;
}

.presentation h1
{
  padding-top: -30px;
  padding-left: 45px;
  font-family: "Anonymous Pro", "monospace";
}

.presentation p
{
  padding-left: 45px;
  max-width: 530px;
}

@media (width: 1920px) {
  .presentation h1
  {
    margin-top: -150px;
  }
}

@media (width: 2560px) {
  .presentation h1
  {
    margin-top: -150px;
  }
}

/* ==================================================================================================================
    Informations
   ================================================================================================================== */

.informations
{
  background-color: $white;
  height: 650px;
  max-height: 650px;
}

/* ==================================================================================================================
    More
   ================================================================================================================== */

.more
{
  background-color: $green-line;
  height: 334px;
  max-height: 334px;
  background: repeating-linear-gradient(to bottom right, $green-line, $green-line-dark);
}

.more .text-more
{
  color: $white;
  padding-top: 98px;
  font-family: 'Anonymous Pro', 'monospace';
  font-size: 45px;
  font-weight: 500;
}

/* ==================================================================================================================
    Social Links
   ================================================================================================================== */

.socials_links
{
  background-color: $white-grey;
  height: 650px;
}