/* ==================================================================================================================
    Main colors
   ================================================================================================================== */

$body-color: white;

/* ==================================================================================================================
    Global Colors
   ================================================================================================================== */

$light-dark: #545454;

/* ==================================================================================================================
    Navigation Colors
   ================================================================================================================== */

$navigation_menu-color: black;
$navigation_menu-hover: #d0aaa2;
$navigation_border: #a39f9e;


/* ==================================================================================================================
    Section Colors
   ================================================================================================================== */

// Information
$information_background: #fafafa;


$blue-green: #63c2e7;
$white-grey: #f4f4f4;
$white: #ffffff;
$green-line: #13c1ac;
$green-line-dark: #13c1ac;

$green-button: #14af8f;

$blue-light: #b2ddee;


$light-grey: #7e7e7e;

/* ==================================================================================================================
    Button Colors
   ================================================================================================================== */

$red_lighten: #ea4c89;
$articles_button: #fa5d58;