/* ==================================================================================================================
    Navigation style
   ================================================================================================================== */
@media (min-device-width: 768px ) and (max-device-width: 1024px) {

  // Lateral navigation bar
  .navigation_bar {
    width: 195px;
    background: $body-color;
    float: left;
    &:after {
      content: "";
      position: fixed;
      width: inherit;
      background: inherit;
      top: 0;
      left: 0;
      bottom: 0;
    }
    .navigation_bar_content {
      position: relative;
      z-index: 10;

      // Responsive menu
      .navigation-bar_menu {
        height: 190px;
        background-color: inherit;
      }

      // Link menu
      .navigation-bar_menu-link {
        border-right: 1px solid $navigation_border;

        // Container of the navigation
        .menu-container {
          list-style-type: none;

          // Menu subcontainer
          .menu-subcontainer {
            padding-top: 80px;
            padding-left: 100px;
            padding-right: -110px;
            padding-bottom: 120px;

            -webkit-transform: rotateZ(-90deg);
            -moz-transform: rotateZ(-90deg);
            -ms-transform: rotateZ(-90deg);
            -o-transform: rotateZ(-90deg);
            transform: rotateZ(-90deg);

            // Link of the navigation
            .menu-link {
              text-decoration: none;

              color: $navigation_menu-color;
              font-size: 20px;
              font-family: 'Roboto';

              display: inline-block;

              &:hover {
                color: $navigation_menu-hover;
              }
            }

            // Link subtext
            .menu-link_submenu {
              text-decoration: none;

              color: $navigation_menu-color;
              font-size: 14px;
              font-family: 'Roboto';

              position: relative;
            }
          }
        }
      }
    }
  }
}
