/* ==================================================================================================================
    Navigation style
   ================================================================================================================== */
@media (min-device-width: 1024px) and (max-device-width: 2560px) {
  .main-navigation {
    width: 290px;
    background: grey;
    float: left;
    &:after {
      content: "";
      position: fixed;
      width: inherit;
      background: inherit;
      top: 0;
      left: 0;
      bottom: 0;
    }
    .main-navigation_content {
      position: relative;
      z-index: 10;

      .main-navigation_menu-icon {

      }

      .main-navigation_menu-link {
        list-style-type: none;
        li {
          padding-top: 100px;
          a {
            color: $navigation_menu-color;
            font-size: 20px;
            font-family: 'Roboto';
            text-decoration: none;
            &:hover {
              color: $navigation_menu-hover;
            }
          }
          p {
            color: $navigation_menu-color;
            font-size: 14px;
            font-family: 'Roboto';
          }
        }
      }
    }
  }
}

@media (min-device-width: 768px) and (max-device-width: 1024px) {
  .main-navigation {
    width: 180px;
    background: grey;
    float: left;
    &:after {
      content: "";
      position: fixed;
      width: inherit;
      background: inherit;
      top: 0;
      left: 0;
      bottom: 0;
    }
    .main-navigation_content {
      position: relative;
      z-index: 10;

      .main-navigation_menu-icon {

      }

      .main-navigation_menu-link {
        list-style-type: none;
        li {
          padding-top: 100px;
          a {
            color: $navigation_menu-color;
            font-size: 20px;
            font-family: 'Roboto';
            text-decoration: none;
            &:hover {
              color: $navigation_menu-hover;
            }
          }
          p {
            color: $navigation_menu-color;
            font-size: 14px;
            font-family: 'Roboto';
          }
        }
      }
    }
  }
}

@media (min-device-width: 320px) and (max-device-width: 425px) {
  .main-navigation {
    width: 90px;
    background: grey;
    float: left;
    &:after {
      content: "";
      position: fixed;
      width: inherit;
      background: inherit;
      top: 0;
      left: 0;
      bottom: 0;
    }
    .main-navigation_content {
      position: relative;
      z-index: 10;

      .main-navigation_menu-icon {

      }

      .main-navigation_menu-link {
        list-style-type: none;
        li {
          padding-top: 100px;
          a {
            color: $navigation_menu-color;
            font-size: 20px;
            font-family: 'Roboto';
            text-decoration: none;
            &:hover {
              color: $navigation_menu-hover;
            }
          }
          p {
            color: $navigation_menu-color;
            font-size: 14px;
            font-family: 'Roboto';
          }
        }
      }
    }
  }
}
