/* ==================================================================================================================
    Navbar
   ================================================================================================================== */

.header {
  width: 295px;
  height: auto;

  background-color: $body-color;
}
