/* ==================================================================================================================
    Navigation style
   ================================================================================================================== */

.navigation_bar {
  width: 295px;
  background: $body-color;
  float: left;
  &:after {
    content: "";
    position: fixed;
    width: inherit;
    background: inherit;
    top: 0;
    left: 0;
    bottom: 0;
  }
  .navigation_bar_content {
    position: relative;
    z-index: 10;
    .navigation-bar_menu {
      height: 290px;
      background-color: inherit;
    }
    .navigation-bar_menu-link {

      .menu-container {
        list-style-type: none;
      }
      .menu-link {
        text-decoration: none;
        color: $navigation_menu-color;

        padding: 14px 16px;

        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}
