/* ==================================================================================================================
    Introduction
   ================================================================================================================== */

.introduction {
  height: 1430px;
  max-height: 1430px;
  background: url("./../../../prod/img/home_introduction.jpeg");

  .introduction-header_text {
    color: $white;
    font-size: 20px;
    font-family: 'Roboto';
  }
  .introduction-header_subtext {
    color: $white;
    font-size: 15px;
    font-family: 'Roboto';
  }
}