{% extends 'base.html.twig' %}

{% block navbar %} - Blog{% endblock %}

{% block body %}
    <section class="blog-introduction_text">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col-phone">
                <p>
                    Hello World !
                </p>
            </div>
        </div>
    </section>
{% endblock %}