{% extends 'base.html.twig' %}

{% block body %}
    <section class="introduction" id="introduction">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col-phone">
                <img src="#" alt="" class="introduction_image" />
            </div>
        </div>
    </section>
    <section class="articles" id="articles">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col-phone">
                <core-articles></core-articles>
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="{{ path('home_blog') }}">
                    En lire plus
                </a>
            </div>
        </div>
    </section>
    <section class="information" id="information">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col-phone">
                <article class="information-bloc_informations">
                    <h2>Une première information en dur !</h2>
                    <p>Hello World !</p>
                </article>
                <core-informations></core-informations>
            </div>
        </div>
    </section>
    <section class="row slider" id="slider">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col-phone">
                <core-slider></core-slider>
            </div>
        </div>
    </section>
    <section class="row formations" id="formations">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col-phone">
                <core-formation></core-formation>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('prod/js/index.js') }}"></script>
{% endblock %}

