/* ==================================================================================================================
    Style Boutton
   ================================================================================================================== */

button:focus {
  text-decoration: none;
}

/* ==================================================================================================================
    Introduction
   ================================================================================================================== */

.button_square_introduction {
  height: 55px;
  width: 162px;
  border: solid 2px $white;
  border-radius: 2px;
  background-color: transparent;
  color: inherit;
}

.button_square_introduction > a {
  color: $white;
  text-decoration: none;
}

.button_square_introduction i {
  padding-left: 10px;
  color: $white;
}

/* ==================================================================================================================
    Presentation
   ================================================================================================================== */

.button_square_presentation {
  height: 55px;
  width: 162px;
  border: solid 2px $green-button;
  border-radius: 2px;
  background-color: transparent;
  color: inherit;
  margin-left: 45px;
}

.button_square_presentation > a {
  color: $green-button;
  text-decoration: none;
}

.button_square_presentation i {
  padding-left: 10px;
  color: $green-button;
}

/* ==================================================================================================================
    Informations
   ================================================================================================================== */

.button_square_informations {
  margin-right: 112px;
  margin-top: 60px;
  height: 55px;
  width: 162px;
  border: solid 2px $red_lighten;
  border-radius: 2px;
  background-color: transparent;
  color: inherit;
  margin-left: 45px;
}

.button_square_informations > a
{
  color: $red_lighten;
  text-decoration: none;
}

.button_square_informations i
{
  padding-left: 10px;
  color: $red_lighten;
}